<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782337553368-c802gf8k9fh3qqtpkevp3nl69fiolar0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782337553368-c802gf8k9fh3qqtpkevp3nl69fiolar0</string>
	<key>API_KEY</key>
	<string>AIzaSyBmkZNWKoiCsh6D9rvXqG9IhwgpwZDT3Ew</string>
	<key>GCM_SENDER_ID</key>
	<string>782337553368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IOS.MoneyLoverClone</string>
	<key>PROJECT_ID</key>
	<string>money-lover-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>money-lover-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782337553368:ios:7497fd26b2a308a9c938ad</string>
	<key>DATABASE_URL</key>
	<string>https://money-lover-clone.firebaseio.com</string>
</dict>
</plist>